* {
  margin: 0px;
  font-family: Inter;
}

/* Baggrund & General Layout */
.homepageBackground {
  background-image: url(images/bgMap.svg);
  background-color: #d61212;
}

.homepageMain {
  align-self: stretch;
  padding: 20px;
  border-radius: 30px 30px 0px 0px;
  background: #ffffff;
  box-shadow: 0px -4px 50px 0px #850000;
  flex: 1;
}

.collectionMain {
  padding: 20px;
  border-radius: 30px 30px 0px 0px;
  background: #ffffff;
  box-shadow: 0px -4px 50px 0px #850000;
  flex-grow: 1;
  min-height: 0;
}
/* Appens navigation */

header {
  margin: 50px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
}

/* Tilføj / Send pakke knapperne */
.buttons {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  color: red;
  gap: 12px;
}

.bigButton {
  display: flex;
  padding: 14px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  color: white;
  background-image: linear-gradient(180deg, #a70000, #ff4141);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07),
    0px -4px 0px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px #fff inset;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.bigIcon {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #fff;
}

.navIcons {
  display: flex;
  justify-content: center;
  border-radius: 100%;
  background-color: white;
  padding: 8px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.navMenu {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.toggle {
  display: flex;
  padding: 4px;
  margin: 12px 0px;
  border-radius: 25px;
  background: #dcdcdc;
  gap: 8px;
}

.toggleActive {
  text-align: center;
  width: 100%;
  padding: 4px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  background: #d61212;
}

.toggleInactive {
  text-align: center;
  width: 100%;
  padding: 4px;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.packages {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.packageNames {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: left;
}

.packageBackground {
  display: flex;
  width: 364px;
  height: 78px;
  padding: 16px 8px;
  align-items: center;
  gap: -7px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ededed;
}

.afhentningTxt {
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.checkbox {
  display: flex;
  padding: 8px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  width: 20px;
  height: 20px;
}

.location {
  width: auto;
  display: inline-block;
  padding: 4px 8px;
  align-items: center;
  gap: 4px;
  border-radius: 26px;
  background: rgba(137, 110, 110, 0.24);
  text-decoration: none;
  color: black;
}

.locationImg {
  padding: 0px 4px;
  width: 14px;
  height: 14px;
}

aside {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.buttonMain {
  display: flex;
  padding: 14px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: linear-gradient(180deg, #a70000, #ff4141);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07),
    0px -4px 0px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px #fff inset;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.orderNr {
  color: black;
}

.boxText {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.openGate {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  width: 301px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(
    --button-color,
    linear-gradient(180deg, #a70000 0%, #ff4141 100%)
  );
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07),
    0px -4px 0px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px #fff inset;
}

.progressBar {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.subText {
  font-size: 13px;
}

.pakkeboxImg {
  height: 450px;
  width: auto;
  margin: 20px;
}

.icons {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.navInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boxInfo {
  display: flex;
  flex-direction: column;
}

.box {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media only screen and (min-width: 320px) {
  .p {
    font-size: 35px;
  }
}

@media only screen and (min-width: 768px) {
  .p {
    font-size: 60px;
  }
}
